@import '~/css/helpers';

.section {
  position: absolute;
  // top: 0%;
  // left: -40%;
  // width: 100%;
  pointer-events: none;
  width: tovw(320px, 220px, 'desktop');

  .stickyContainer {
    @include respond-to('tablet') {
      display: none;
    }

    height: var(--falling-caps-section-height);
    position: relative;

    .stickyContent {
      position: sticky;
      top: 0;
      height: 100vh;
    }
  }
}
